!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description",content="Harvest")
    meta(name="author",content="Liu Chao")
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    link(href="/lib/metro/css/modern.css",rel="stylesheet")
    link(href="/lib/metro/css/modern-responsive.css",rel="stylesheet")
    script(src="/lib/jquery-2.0.3.min.js")
    title #{title}