section.article
    h2 What is Harvest
    p.indent
      | Harvest is a fast, flexible html parse platform. With lean implementation of core jQuery
      | , you can easily create your parse template. So you can use all most all of jQuery powerful
      | Apis, especially the manipulation and css selector. But it dosen't use the jQuery lib, for 
      | some performance reasons(It's very powerful, but too heave for me).